#title {
  background-color: #ff4c68;
  color: white;
}

body{
  font-family: "Montserrat" sans-serif;
}

h1{
  font-family: "Montserrat-Black" sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

h2{
  font-family: "Montserrat" sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

h3{
  font-family: "Montserrat" sans-serif;
  font-weight: bold;
}

p{
  color: grey;
}

.container-fluid{
  padding: 3% 10%;
}

.title-image{
  width: 60%;
  transform: rotate(20deg);
}

/* Navbar Selectors */

.navbar{
  padding: 0 0 4.5rem 0;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  color: Black;
}

.nav-link{
  font-family: "Montserrat" sans-serif;
  font-size: 1.2rem;
  margin: 0 20px 0 20px;
  color: Black;
}

/* Download Button */
.download-button{
  margin: 5% 3% 5% 0;
}

/* FEATURES SECTION */
#features{
  padding: 5%;
  text-align: center;
  background-color: white;
}

.feature-box{
  padding: 3%;
}

.feature-icon{
  transform: scale(3);
  color: #ff4c68;
  margin-bottom: 25px;
}

.feature-icon:hover{
  color: black;
}

/* TESTIMONIALS SECTION */
#testimonials{
  background-color: #ff4c68;
  text-align: center;
  color: white;
}

.testimonial-image{
width: 10%;
border-radius: 100%;
margin: 30px;
}

.carousel-item{
  padding: 7% 15%;
}

/* PRESS SECTION */
#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px 20px;
}

/* PRICING SECTION */
.pricing-title {
  text-align: center;
}

.pricing-column {
  padding: 2% 3%;
}
